@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IBM Plex Sans Thai Looped';
    src: url('/IBMPlexSansThaiLooped-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  }